
<div class="container"></div>

<div class="d-flex justify-content-evenly">
<app-card *ngFor="let post of posts"

  [vada] ="post.title"
  [imageUrl] ="post.imageUrl"
  [username] ="post.username"
  [content] ="post.content"
></app-card>
</div>
<!--
<app-card
[vada] ="posts[1].title"
[imageUrl] ="posts[1].imageUrl"
  [username] ="posts[1].username"
  [content] ="posts[1].content"
></app-card>

<app-card
[vada] ="posts[2].title"
[imageUrl] ="posts[2].imageUrl"
  [username] ="posts[2].username"
  [content] ="posts[2].content"
></app-card>
-->
